@model prjMVCDemo.Models.CCustomer
@{
    string photo = "logo.jpg";
    if (Model != null)
    {
        photo = Model.fId + ".jpg";
    }
    ViewBag.Title = "bindingCustomer";
}

<h2>繫結客戶資料</h2>
<img src="~/Image/@photo" width="280" height="250">
@{
    if (ViewBag.KK == null)
    {
        <p>
            <h3>目前沒有資料</h3>
        </p>
    }
    else
    {
        <p>
            <h3>@Model.fName</h3>
        </p>
        <p>
            <h3>@Model.fPhone</h3>
        </p>
    }

}
