
@{
    ViewBag.Title = "demoForm";
}

<h2>demoForm</h2>
<form method="post">
請輸入數字
    <p>
        <input typr="text" name="txtA" />X2+
        <input typr="text" name="txtB" />X+
        <input typr="text" name="txtC" />
    </p>
<p><input type="submit" value="OK" />=@ViewBag.ANS</p>
</form>